@if (project) {
<div class="button-bar">
  <button mat-raised-button color="primary" [routerLink]="['/projects']">Back To Projects</button>
  <button mat-raised-button color="primary" (click)="openEditProjectDialog()">Edit Project</button>
  <button mat-raised-button color="primary" (click)="getProject()">Refresh</button>
  <button mat-raised-button color="primary" (click)="getProject()">Go To Client {{ project.client.name }}</button>
</div>
<div style="padding: 0 10px 10px 10px;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Project - {{ project.name }}</mat-card-title>
      <mat-card-title>Client - {{project.client.name}}</mat-card-title>
      <mat-card-title>ID - {{project.id}}</mat-card-title>
      <mat-card-title>{{project.isEnabled ? 'Enabled' : 'Disabled' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
<mat-tab-group animationDuration="0ms">
  <mat-tab label="Assistant">
    <div style="padding: 10px; font-size: large;">
      <mat-card>
        <mat-card-content>
          <p>How may I help you with this project?</p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Notes">
    <app-notes [entityType]="'project'" [entityId]="projectId"></app-notes>
  </mat-tab>
  <mat-tab label="Tasks"> Tasks </mat-tab>
</mat-tab-group>
}