<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <mat-icon>assistant</mat-icon><span>Assistant</span>
      </a>
      <a mat-list-item routerLink="/clients" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <mat-icon>group</mat-icon><span>Clients</span>
      </a>
      <a mat-list-item routerLink="/contacts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <mat-icon>contacts</mat-icon><span>Contacts</span>
      </a>
      <a mat-list-item routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <mat-icon>work</mat-icon><span>Projects</span>
      </a>
      <a mat-list-item routerLink="/tasks" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <mat-icon>task</mat-icon><span>Tasks</span>
      </a>
      <a mat-list-item routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <mat-icon>account_circle</mat-icon><span>Users</span>
      </a>
      <a mat-list-item routerLink="/groups" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <mat-icon>group_work</mat-icon><span>Groups</span>
      </a>
      <a mat-list-item (click)="authService.logout()">
        <mat-icon>logout</mat-icon><span>Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>