.mat-mdc-row:hover {
  background-color: #919191;
  cursor: pointer;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.button-bar {
  padding: 10px;
  display: flex;
  gap: 10px;
}

