<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-wrapper">
    <mat-form-field appearance="outline" class="form-element">
      <mat-label>Email address</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-element">
      <mat-label>Password</mat-label>
      <input matInput [type]="'password'" formControlName="password">
    </mat-form-field>
    <button mat-flat-button color="primary" class="form-element">Login</button>
  </form>
</div>