@if (group) {
<div class="button-bar">
  <button mat-raised-button color="primary" [routerLink]="['/groups']">Back To Groups</button>
  <button mat-raised-button color="primary" (click)="openEditGroupDialog()">Edit Group</button>
  <button mat-raised-button color="primary" (click)="getGroup()">Refresh</button>
</div>
<div style="padding: 0 10px 10px 10px;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Group - {{ group.name }}</mat-card-title>
      <mat-card-title>ID - {{group.id}}</mat-card-title>
      <mat-card-title>{{group.isEnabled ? 'Enabled' : 'Disabled' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
<mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">
  <mat-tab label="Assistant">
    <app-assistant [entityType]="'group'" [entityId]="groupId"
      [introMessage]="'Hey, how may I help you with this group?'"></app-assistant>
  </mat-tab>
  <mat-tab label="Notes">
    <app-notes [entityType]="'group'" [entityId]="groupId"></app-notes>
  </mat-tab>
  <mat-tab label="Groups"> Groups </mat-tab>
</mat-tab-group>
}