<form [formGroup]="createNewProjectForm" (ngSubmit)="submitForm()" class="form-wrapper">
  <mat-form-field class="form-element">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-checkbox class="form-element" formControlName="isEnabled">Enabled</mat-checkbox>
  <div>
    <button [disabled]="!createNewProjectForm.valid" style="margin: 0 auto; width: 100%" mat-flat-button color="primary"
      class="form-element">Submit</button>
  </div>
</form>