table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.button-bar {
  padding: 10px; // Adjust padding as per your design
  display: flex;
  gap: 10px; // This adds space between buttons
}