@if (client) {
<div class="button-bar">
  <button mat-raised-button color="primary" [routerLink]="['/clients']">Back To Clients</button>
  <button mat-raised-button color="primary" (click)="openEditClientDialog()">Edit Client</button>
  <button mat-raised-button color="primary" (click)="getClient()">Refresh</button>
</div>
<div style="padding: 0 10px 10px 10px;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Client - {{ client.name }}</mat-card-title>
      <mat-card-title>ID - {{client.id}}</mat-card-title>
      <mat-card-title>{{client.isEnabled ? 'Enabled' : 'Disabled' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
<mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">
  <mat-tab label="Assistant">
    <app-assistant [entityType]="'client'" [entityId]="clientId"
      [introMessage]="'Hey, how may I help you with this client?'"></app-assistant>
  </mat-tab>
  <mat-tab label="Notes">
    <app-notes [entityType]="'client'" [entityId]="clientId"></app-notes>
  </mat-tab>
</mat-tab-group>
}